# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\ayafi\source\repos\Win32\SandS codebase based on best match to current usage at 2020/08/10
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
root = true;
[*.(cpp|hpp|h)]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

